<div>
  <h1>Reference</h1>
  <ul class="nav nav-tabs" role="tablist">
    <% @tabs.each do |tab| %>
      <li role="presentation"><a href=<%= '#' + "#{tab}" %> aria-controls=<%= "#{tab}" %> role="tab" data-toggle="tab"><%= tab.capitalize %></a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <% @tabs.each do |tab| %>
      <% file = File.read(Dir.pwd + "/reference/#{tab}.json") %>
      <% data_hash = JSON.parse(file) %>
      <div role="tabpanel" class="tab-pane" id=<%= "#{tab}" %>><%= render partial: 'partials/render_json', locals: { data_hash: data_hash } %></div>
    <% end %>
  </div>
</div>
