<div>
  <% data_hash.each_pair do |key, val| %>
    <% if val.class == Array %>
      <% val.each do |val| %>
        <p><%= val %></p>
      <% end %>
    <% else %>
      <% val.each_pair do |key, val| %>
        <p><%= key.capitalize %></p>
        <% if val.class == Array %>
          <% val.each do |val| %>
            <p><%= val %></p>
          <% end %>
        <% elsif val.class == Hash %>
          <% val.each_pair do |key, val| %>
            <p><%= key.capitalize %></p>
            <p><%= val %></p>
            <hr>
          <% end %>
          <hr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>