<h1>Sign Up</h1>

<%= form_for :user, url: users_path, class: 'form-control' do |f| %>
  Username: <%= f.text_field :username, class: 'inline-form' %><br>
  Email: <%= f.text_field :email, class: 'inline-form' %><br>
  Password: <%= f.password_field :password, class: 'inline-form' %><br>
  Password Confirmation: <%= f.password_field :password_confirmation, class: 'inline-form' %><br>
  <%= f.submit("Sign Up",class: 'btn btn-success') %>
<% end %>
Already have an account? Log in <%= link_to "here", login_path %>.