%h3= 'Skills'

- Skill.all.each do |skill|
  %p= skill.name

%h3= 'Traits'
- Trait.all.each do |trait|
  %p= trait.name

%h3= 'Proficiencies'
- Proficiency.all.each do |prof|
  %p= prof.name
  %p= prof.label

.btn.btn-success
  %span.glyphicon.glyphicon-plus
