<div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0 profile">
  <%= render 'partials/profile' %>
</div>
<div class="col-xs-12 col-md-9 characters">
  <h1>Characters</h1>
  <ul class="nav nav-tabs" role="tablist">
    <% @characters.length.times do |n| %>
      <li role="presentation"><a href=<%= "#" + @characters[n].name %> aria-controls=<%= @characters[n].name %> role="tab" data-toggle="tab"><%= @characters[n].name.gsub('-', ' ') %></a></li>
    <% end %>
    <li role="presentation" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="character-create"><span class="glyphicon glyphicon-plus"></span></a>
      <ul class="dropdown-menu" aria-labelledby="character-create">
        <li><a href=<%= new_character_path %>>Create Character</a></li>
        <li><a href=<%= generate_character_path %>>Generate Character</a></li>
      </ul>
    </li>
  </ul>

  <div class="tab-content">
    <% @characters.length.times do |n| %>
      <div role="tabpanel" class="tab-pane" id=<%= @characters[n].name %>>
        <p>Name: <%= @characters[n].name.gsub('-', ' ') %></p>
        <p>Level: <%= @characters[n].level %> | EXP: <%= @characters[n].exp %></p>
        <p>Gender: <%= @characters[n].gender %></p>
        <p>Race: <%= @characters[n].race %></p>
        <p>Class: <%= @characters[n].character_class %></p>
        <p>Background: <%= @characters[n].background %></p>
        <p>Traits:</p>
        <% @characters[n].traits.each do |trait| %>
          <p><%= trait.name %>: <%= trait.value %><br>
          Mod: <%= trait.modifier %><br>
          Saving Throw: <%= trait.saving_throw %></p>
        <% end %>
        <p>Skills:</p>
        <% @characters[n].skills.each do |skill| %>
          <p><%= skill.name %>: <%= skill.bonus %><br>
          Proficient: <%= skill.proficient %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
