<div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0 profile">
  <%= render 'partials/profile' %>
</div>
<div class="col-xs-12 col-md-9 characters">
  <h1>Characters</h1>
  <ul class="nav nav-tabs" role="tablist">
    <% @characters.length.times do |n| %>
      <li role="presentation"><a href=<%= "#" + @characters[n].name %> aria-controls=<%= @characters[n].name %> role="tab" data-toggle="tab"><%= @characters[n].name %></a></li>
    <% end %>
    <li role="presentation"><a href="/characters/new" aria-controls="new character" role="tab"><span class="glyphicon glyphicon-plus"></span></a></li>
  </ul>

  <div class="tab-content">
    <% @characters.length.times do |n| %>
      <div role="tabpanel" class="tab-pane" id=<%= @characters[n].name %>>
        <p>Name: <%= @characters[n].name %></p>
        <p>Level: <%= @characters[n].level %> | EXP: <%= @characters[n].exp %></p>
        <p>Gender: <%= @characters[n].gender %></p>
        <p>Race: <%= @characters[n].race %></p>
        <p>Class: <%= @characters[n].character_class %></p>
        <p>Background: <%= @characters[n].background %></p>
      </div>
    <% end %>
  </div>
</div>
